<div class="article-page">

    <div class="banner">
      <div class="container">
  
        <h1><%= article.Title %></h1>
  
        <div class="article-meta">
          <a href=""><img src="http://i.imgur.com/Qr71crq.jpg" /></a>
          <div class="info">
            <a href="" class="author"><%= article.User.Name %></a>
            <span class="date"><%= article.CreatedAt %></span>
          </div>
          <%= if (current_user && current_user.ID.String() == article.User.ID.String()) { %>
          <a href="<%= editArticlePath({slug: article.Slug}) %>" class="btn btn-sm btn-outline-secondary">
            <i class="ion-edit"></i>
            &nbsp;
            Edit Article
          </a>
          &nbsp;&nbsp;
          <a href="<%= articleDeletePath({slug: article.Slug}) %>" class="btn btn-sm btn-outline-danger">
            <i class="ion-trash-a"></i>
            &nbsp;
            Delete Article
          </a>
          <% } else { %>
          <a href="" class="btn btn-sm btn-outline-secondary">
            <i class="ion-plus-round"></i>
            &nbsp;
            Follow <%= article.User.Name %> <span class="counter">(10)</span>
          </a>
          &nbsp;&nbsp;
          <a href="" class="btn btn-sm btn-outline-primary">
            <i class="ion-heart"></i>
            &nbsp;
            Favorite Post <span class="counter">(<%= len(article.ArticleFavorites) %>)</span>
          </a>
          <% } %>
        </div>
  
      </div>
    </div>
  
    <div class="container page">
  
      <div class="row article-content">
        <div class="col-md-12">
            <%= markdown(article.Body) %>
        </div>
      </div>
  
      <hr />
  
      <div class="article-actions">
        <div class="article-meta">
          <a href="profile.html"><img src="http://i.imgur.com/Qr71crq.jpg" /></a>
          <div class="info">
            <a href="" class="author"><%= author.Name %></a>
            <span class="date"><%= author.CreatedAt %></span>
          </div>
  
          <%= if (current_user && current_user.ID.String() == article.UserID.String()) { %>
            <a href="<%= editArticlePath({slug: article.Slug}) %>" class="btn btn-sm btn-outline-secondary">
              <i class="ion-edit"></i>
              &nbsp;
              Edit Article
            </a>
            &nbsp;&nbsp;
            <a href="<%= articleDeletePath({slug: article.Slug}) %>" class="btn btn-sm btn-outline-danger">
              <i class="ion-trash-a"></i>
              &nbsp;
              Delete Article
            </a>
            <% } %>
            <%= if (current_user) { %>
              <%= form({action: followPath(), method: "POST", style: "display: inline;"}) { %>
                <input name="FollowID" value="<%= article.UserID %>" type="hidden"/>
                <input name="SourcePage" value="<%= source_page %>" type="hidden"/>  
                <button type="submit" class="btn btn-sm btn-outline-primary">
                  <i class="ion-plus-round"></i>
                  &nbsp;
                  Follow <%= author.Name %> <span class="counter">(<%= len(author.Followers) %>)</span>
                </button>
              <% } %>
              &nbsp;&nbsp;
              <%= form({action: articlesStarPath(), method: "POST", style: "display: inline;"}) { %>
                <input name="Slug" value="<%= article.Slug %>" type="hidden"/>
                <input name="ArticleID" value="<%= article.ID %>" type="hidden"/>
                <input name="SourcePage" value="<%= source_page %>" type="hidden"/>  
                <button type="submit" class="btn btn-sm btn-outline-primary">
                  <i class="ion-heart"></i>
                  &nbsp;
                  Favorite Post <span class="counter">(<%= len(article.ArticleFavorites) %>)</span>
                </button>
              <% } %>
            <% } else { %>
              <button type="submit" class="btn btn-sm btn-outline-secondary">
                <i class="ion-plus-round"></i>
                &nbsp;
                Follow <%= author.Name %> <span class="counter">(<%= len(author.Followers) %>)</span>
              </button>
              &nbsp;&nbsp;
              <button type="submit" class="btn btn-sm btn-outline-primary">
                <i class="ion-heart"></i>
                &nbsp;
                Favorite Post <span class="counter">(<%= len(article.ArticleFavorites) %>)</span>
              </button>
            <% } %>
        </div>
      </div>
  
      <div class="row">
  
        <div class="col-xs-12 col-md-8 offset-md-2">

          <%= if (current_user) { %>
          <%= form_for(comment, {action: articleCommentPath({slug: article.Slug}), method: "POST", class: "card comment-form"}) { %>
            <div class="card-block">
              <%= f.TextArea("Body", {placeholder: "Write a comment...", rows: "3" }) %>
            </div>
            <div class="card-footer">
              <img src="http://i.imgur.com/Qr71crq.jpg" class="comment-author-img" />
              <button class="btn btn-sm btn-primary">
               Post Comment
              </button>
            </div>
          <% } %>
          <% } %>
 
          <%= for (index, comment) in comments { %>
            <div class="card">
              <div class="card-block">
                <p class="card-text"><%= comment.Body %></p>
              </div>
              <div class="card-footer">
                <a href="" class="comment-author">
                  <img src="http://i.imgur.com/Qr71crq.jpg" class="comment-author-img" />
                </a>
                &nbsp;
                <a href="" class="comment-author"><%= comment.User.Name %></a>
                <span class="date-posted"><%= comment.CreatedAt %></span>
              </div>
            </div>
          <% } %>

          
        </div>
  
      </div>
  
    </div>
  
  </div>