<div class="profile-page">

    <div class="user-info">
      <div class="container">
        <div class="row">
  
          <div class="col-xs-12 col-md-10 offset-md-1">
            <img src="http://i.imgur.com/Qr71crq.jpg" class="user-img" />
            <h4><%= profile_user.Name %></h4>
            <p>
              Cofounder @GoThinkster, lived in Aol's HQ for a few months, kinda looks like Peeta from the Hunger Games
            </p>
            <button class="btn btn-sm btn-outline-secondary action-btn">
              <i class="ion-plus-round"></i>
              &nbsp;
              Follow <%= profile_user.Name %>
            </button>
          </div>
  
        </div>
      </div>
    </div>
  
    <div class="container">
      <div class="row">
  
        <div class="col-xs-12 col-md-10 offset-md-1">
          <div class="articles-toggle">
            <ul class="nav nav-pills outline-active">
              <li class="nav-item">
                <a class="nav-link active" href="">My Articles</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">Favorited Articles</a>
              </li>
            </ul>
          </div>

          <%= for (index, article) in articles { %>
            <div class="article-preview">
              <div class="article-meta">
                <%= linkTo(usersProfilePath({user_email: article.User.Email})){ %><img src="http://i.imgur.com/Qr71crq.jpg" /><% } %>
                <div class="info">
                  <%= linkTo(usersProfilePath({user_email: article.User.Email}), {class: "author"}){ %><%= article.User.Name %><% } %>
                  <span class="date"><%= article.CreatedAt %></span>
                </div>
                <button class="btn btn-outline-primary btn-sm pull-xs-right">
                  <i class="ion-heart"></i> 29
                </button>
              </div>
              <%= linkTo(articlePath({slug: article.Slug}), {class:"preview-link"}){ %>
                <h1><%= article.Title %></h1>
                <p><%= article.Description %></p>
                <span>Read more...</span>
              <% } %>
            </div>
    
          <% } %>
  
        </div>
  
      </div>
    </div>
  
  </div>