<div class="auth-page">
  <div class="container page">
      <div class="row">

          <div class="col-md-6 offset-md-3 col-xs-12">
              <h1 class="text-xs-center">Sign up</h1>
              <p class="text-xs-center">
                  <%= linkTo(authLoginPath()){ %>Have an account?<% } %>
                </p>

              <%= form_for(user, {action: usersRegisterPath(), method: "POST"}) { %>
                <%= f.InputTag("Name", {placeholder: "Your Name", class: "form-control-lg" }) %>
                <%= f.InputTag("Email", {placeholder: "Email", class: "form-control-lg" }) %>
                <%= f.InputTag("Password", {type: "password", placeholder: "Password", class: "form-control-lg" }) %>
  
                <button class="btn btn-lg btn-primary pull-xs-right" type="submit">
                    Sign up
                </button>
              <% } %>

              <!--
              <ul class="error-messages">
                <li>That email is already taken</li>
              </ul>
              -->

          </div>

      </div>
  </div>
</div>